<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Shipment information</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="" data-comp-id="ionic-content.1">
        <!--Form Contents-->
        <!--Form Contents-->
        <div data-comp-id="div.1" style="margin-top: 60px">
            <div class="row" data-comp-id="row.1" style="">
                <div class="col" data-comp-id="column.1" style="padding-top:12px">
                    <label class="item item-input" data-comp-id="textInput.1">
                        <span class="input-label"></span>
                        <input ng-model="data.text" placeholder="Tracking number" type="text">
                    </label>
                </div>
                <div class="col col-20" data-comp-id="column.2">
                    <div class="footer-button button-footer-center" data-comp-id="footerButton.1">
                        <button class="button button-positive button-round button-shadowed "
                            ng-click="scan()">
                            <span class="ion-ios-barcode-outline" style="font-size:45px;"></span>
                        </button>
                        <div class="label"></div>
                    </div>
                </div>
            </div>
            <div class="row" data-comp-id="row.2">
                <div class="col text-center" data-comp-id="column.3" style="padding-top:60px">
                    <button class="button ion-android-search icon button-round"
                        data-comp-id="button.2" style="width:100px; height:100px"></button>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar data-comp-id="footer-bar.1" dynamic-fixed-footer=""
        style="margin-bottom:5px">
        <button class="button button-block button-positive button-clear positive-border"
            data-comp-id="button.3" ng-click="reset()">
            <i class="icon ion-close-circled" data-comp-id="icon.1"
                style="font-size: 16px;  color: rgb(0, 154, 221);"></i>
            <span style="font-size: 14px; color: rgb(0, 154, 221);">Clear Barcode</span>
        </button>
    </ion-footer-bar>
    <!--<div class="footer-button-bar" data-comp-id="footer-bar-buttons.1"
        dynamic-floating-footer="">
        <div class="row" data-comp-id="row.3" style="padding: 0px;">
            <div class="col" data-comp-id="column.5" style="padding: 0px;"></div>
            <div class="col text-center" data-comp-id="column.6" ng-click="scan()"
                style="padding: 0px;"></div>
            <div class="col text-right" data-comp-id="column.7" style="padding: 0px;"></div>
        </div>-->
</ion-view>