<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Barcode Scanner</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="" data-comp-id="ionic-content.1">
        <!--Form Contents-->
        <div data-comp-id="div.1" style="margin: 10% 10% 2%;">
            <label class="item item-input light-bg" data-comp-id="textInput.1" ng-hide="">
                <span class="input-label dark">Format</span>
                <input ng-model="data.format" type="text">
            </label>
            <label class="item item-input" data-comp-id="textInput.2">
                <span class="input-label"></span>
                <input ng-model="data.text" placeholder="Tracking number" type="text">
            </label>
        </div>
        <button class="button button-block" data-comp-id="button.2">Submit</button>
        <div data-comp-id="div.2" style="width: 80%; margin: 4% 10%;">
            <div class="row" data-comp-id="row.1" style="margin: 0px; padding: 0px;">
                <div class="col col-10" data-comp-id="column.1"></div>
                <div class="col" data-comp-id="column.2">
                    {{redval}}
                    <button class="button button-block button-positive button-clear positive-border"
                        data-comp-id="button.3" ng-click="reset()">
                        <i class="icon ion-close-circled" data-comp-id="icon.1"
                            style="font-size: 16px;  color: rgb(0, 154, 221);"></i>
                        <span style="font-size: 14px; color: rgb(0, 154, 221);">Clear Barcode</span>
                    </button>
                </div>
                <div class="col col-10" data-comp-id="column.3"></div>
            </div>
        </div>
        <!--Form Contents-->
    </ion-content>
    <div class="footer-button-bar" data-comp-id="footer-bar-buttons.1"
        dynamic-floating-footer="">
        <div class="row" data-comp-id="row.2" style="padding: 0px;">
            <div class="col" data-comp-id="column.4" style="padding: 0px;"></div>
            <div class="col text-center" data-comp-id="column.5" ng-click="scan()"
                style="padding: 0px;">
                <div class="footer-button" data-comp-id="footerButton.1">
                    <button
                        class="button button-positive button-round button-shadowed fa-icon fa-barcode"></button>
                    <div class="label"></div>
                </div>
            </div>
            <div class="col text-right" data-comp-id="column.6" style="padding: 0px;"></div>
        </div>
    </div>
</ion-view>