<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-ios-arrow-left" data-comp-id="button.1"
                ng-click="app.go('app.barcode')"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Shipment details</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="" data-comp-id="ionic-content.1">
        <div data-comp-id="div.1">
            <div class="row light-bg" data-comp-id="row.1" style="padding: 0px;">
                <div class="col text-center " data-comp-id="column.1"
                    ng-class="item.selected ? 'positive-bg' : ''"
                    ng-click="app.action('tabs', 'data.tabs[item].action', this)"
                    ng-repeat="item in data.tabs"
                    style="margin: 0px; padding: 10px 15px; border-right: 1px solid rgb(221, 221, 221);">
                    <i class="icon {{item.icon}} light" data-comp-id="icon.1" ng-if="item.selected"
                        style="font-size: 20px; float: left;"></i>
                    <i class="icon {{item.icon}} calm" data-comp-id="icon.2" ng-if="!item.selected"
                        style="font-size: 20px; float: left;"></i>
                    <div class=" light" data-comp-id="text.1" ng-bind="item.name"
                        ng-if="item.selected" style="font-weight: normal;">Tab 1</div>
                    <div class=" calm" data-comp-id="text.2" ng-bind="item.name"
                        ng-if="!item.selected" style="font-weight: normal;">Tab 1</div>
                </div>
            </div>
        </div>
        <div class="card" data-comp-display="card.1" data-comp-id="div.2">
            <div class="row" data-comp-id="row.2">
                <div class="col" data-comp-id="column.2">
                    <div data-comp-id="text.3">Tracking number</div>
                </div>
                <div class="col" data-comp-id="column.3">
                    <div data-comp-id="text.4" ng-bind="data.shipmentDetails.trackingNumber"></div>
                </div>
            </div>
        </div>
        <div class="card" data-comp-display="card.1" data-comp-id="div.3">
            <div class="row">
                <div class="col" data-comp-id="column.4">
                    <div data-comp-id="text.5">Shipment number</div>
                </div>
                <div class="col" data-comp-id="column.5">
                    <div data-comp-id="text.6" ng-bind="data.shipmentDetails.shipmentNumber"></div>
                </div>
            </div>
            <div class="row">
                <div class="col" data-comp-id="column.6">
                    <div data-comp-id="text.7">Status</div>
                </div>
                <div class="col" data-comp-id="column.7">
                    <div data-comp-id="text.8" ng-bind="data.shipmentDetails.shipmentStatus"></div>
                </div>
            </div>
            <div class="row">
                <div class="col" data-comp-id="column.8">
                    <div data-comp-id="text.9">Creation date</div>
                </div>
                <div class="col" data-comp-id="column.9">
                    <div data-comp-id="text.10" ng-bind="data.shipmentDetails.creationDate"></div>
                </div>
            </div>
            <div class="row">
                <div class="col" data-comp-id="column.10">
                    <div data-comp-id="text.11">Carrier</div>
                </div>
                <div class="col" data-comp-id="column.11">
                    <div data-comp-id="text.12" ng-bind="data.shipmentDetails.carrier"></div>
                </div>
            </div>
            <div class="row">
                <div class="col" data-comp-id="column.12">
                    <div data-comp-id="text.13">Service level</div>
                </div>
                <div class="col" data-comp-id="column.13">
                    <div data-comp-id="text.14" ng-bind="data.shipmentDetails.serviceLevel"></div>
                </div>
            </div>
        </div>
        <div class="card" data-comp-display="card.2" data-comp-id="div.4">
            <div class="row">
                <div class="col" data-comp-id="column.14">
                    <div data-comp-id="text.15">Height</div>
                </div>
                <div class="col" data-comp-id="column.15">
                    <span ng-bind="data.shipmentDetails.packageHeight"></span>
                    <span ng-bind="data.shipmentDetails.dimensionUOM"></span>
                </div>
            </div>
            <div class="row">
                <div class="col" data-comp-id="column.16">
                    <div data-comp-id="text.16">Length</div>
                </div>
                <div class="col" data-comp-id="column.17">
                    <span ng-bind="data.shipmentDetails.packageLength"></span>
                    <span ng-bind="data.shipmentDetails.dimensionUOM"></span>
                </div>
            </div>
            <div class="row">
                <div class="col" data-comp-id="column.18">
                    <div data-comp-id="text.17">Depth</div>
                </div>
                <div class="col" data-comp-id="column.19">
                    <span ng-bind="data.shipmentDetails.packageDepth"></span>
                    <span ng-bind="data.shipmentDetails.dimensionUOM"></span>
                </div>
            </div>
            <div class="row">
                <div class="col" data-comp-id="column.20">
                    <div data-comp-id="text.18">Total weight</div>
                </div>
                <div class="col" data-comp-id="column.21">
                    <span ng-bind="data.shipmentDetails.totalWeight"></span>
                    <span ng-bind="data.shipmentDetails.weightUOM"></span>
                </div>
            </div>
            <div class="row">
                <div class="col" data-comp-id="column.22">
                    <div data-comp-id="text.19">Measured weight</div>
                </div>
                <div class="col" data-comp-id="column.23">
                    <span ng-bind="data.shipmentDetails.measuredWeight"></span>
                    <span ng-bind="data.shipmentDetails.weightUOM"></span>
                </div>
            </div>
            <div class="row">
                <div class="col" data-comp-id="column.24">
                    <div data-comp-id="text.20">Net weight</div>
                </div>
                <div class="col" data-comp-id="column.25">
                    <span ng-bind="data.shipmentDetails.netWeight"></span>
                    <span ng-bind="data.shipmentDetails.weightUOM"></span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>