<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-ios-arrow-left" data-comp-id="button.1"
                ng-click="app.go('app.barcode')"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Shipment details</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="" data-comp-id="ionic-content.1">
        <div data-comp-id="div.1">
            <div class="row light-bg" data-comp-id="row.1" style="padding: 0px;">
                <div class="col text-center " data-comp-id="column.1"
                    ng-class="item.selected ? 'positive-bg' : ''"
                    ng-click="app.action('tabs', 'data.tabs[item].action', this)"
                    ng-repeat="item in data.tabs"
                    style="margin: 0px; padding: 10px 15px; border-right: 1px solid rgb(221, 221, 221);">
                    <i class="icon {{item.icon}} light" data-comp-id="icon.1" ng-if="item.selected"
                        style="font-size: 20px; float: left;"></i>
                    <i class="icon {{item.icon}} calm" data-comp-id="icon.2" ng-if="!item.selected"
                        style="font-size: 20px; float: left;"></i>
                    <div class=" light" data-comp-id="text.1" ng-bind="item.name"
                        ng-if="item.selected" style="font-weight: normal;">Tab 1</div>
                    <div class=" calm" data-comp-id="text.2" ng-bind="item.name"
                        ng-if="!item.selected" style="font-weight: normal;">Tab 1</div>
                </div>
            </div>
        </div>
        <label class="item item-input" data-comp-display="labeledtext.1"
            data-comp-id="textInput.1">
            <span class="input-label">Tracking number</span>
            <span ng-bind="data.shipmentDetails.trackingNumber" type="text"></span>
        </label>
        <label class="item item-input" data-comp-display="labeledtext.2"
            data-comp-id="textInput.2">
            <span class="input-label">Shipment number</span>
            <span ng-bind="data.shipmentDetails.shipmentNumber" type="text"></span>
        </label>
    </ion-content>
</ion-view>